body {
	font-family:  sans-serif;
}
.content {
	text-align: center;
	position: fixed;
	top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content .title {
	font-size: 2.5em;
}

.content .content-container {
	border-color: grey;
	border-size: 1px; /* this allows you to adjust the thickness */
	border-style: solid;
	width: 470px;
}

.content .total-price {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 2em;
}

.content ul {
	list-style-type: none;
}
.content .product-list {
	text-align: left;
	width: 180px;
	margin-left: 100px;
}
.content .product-list li {
	border-bottom: 1px solid #ccc;
}
.content .discount {
  color: #c7254e;
  background-color: #f9f2f4 !important;
  border-radius: 5px;
  width: 100px;
  position: fixed;
  left: 40%;
}
